/clang_build
/clang_build_linux
/imgui_o_files
/imgui_o_files_linux
/release
/release_linux
/source_zips
/release_zips
/debug

#was testing to build for windows with the mingw programs on linux
#will probably get pushed one day (if i update this program)
/mingw_build
/test_linux_mingw_build.sh

